.App {
  text-align: center;
  align-items: center;
}
.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  border: 1px #ccc solid;

}
.Commentary{

align-items: center;
border: 1px #ccc solid;
order: 3;
width: 30%;
}
.Convo {
flex:3;
border: 1px #ccc solid;
order:2;
width: 50%
}
.AddStuff {
flex:1;
border: 1px #ccc solid;
order:1;
width: 20%
}

/* .getIt {
  align-items: center;
} */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 135px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
